.forgot-password-container {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    width: 100%;
}

.forgot-password-box {
    display: flex;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.forgot-password-form-container {
    width: 100%;
    text-align: center;
}

.forgot-password-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background: #4caf50;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.submit-button:hover {
    background: #45a049 !important;
}

.extra-links {
    margin-top: 15px;
    font-size: 14px;
    color: gray;
}

.extra-links a {
    color: #ff5e62;
    text-decoration: none;
    font-weight: bold;
}

.extra-links a:hover {
    text-decoration: underline;
}
