.admin-header-notification-button {
    width: 50px;
    height: 50px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
}

.admin-header-notification-button:hover {
    background-color: rgb(238, 219, 255);
}

.admin-header-notification-button svg {
    width: 25px;
    height: 25px;
    color: blueviolet;
}

.admin-header-notification-menu {
    width: 350px;
}

.admin-header-notification-menu .ant-dropdown-menu-item {
    gap: 15px;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

.admin-header-notification-menu .ant-dropdown-menu-item:hover {
    background-color: #f5f5f5;
}

.admin-header-notification-menu .anticon svg {
    width: 20px;
    height: 20px;
    color: blueviolet;
}

/* Định dạng cho badge */
.admin-header-notification-button .ant-badge-count {
    background-color: #ff4d4f; /* Màu đỏ cho badge */
    color: #fff;
    font-size: 12px;
    padding: 0 6px;
    line-height: 18px;
    border-radius: 10px;
}